<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
	<img src= "{{ .Site.Params.logoSrc }}" alt="GBIF-analytics-blog" style ="width:20%;">
  </a>
  <!-- <a href="https://www.gbif.org/" class="logo"> -->
	<!-- <img src= "{{ .Site.Params.gbifLogoSrc }}" alt="GBIF-logo" style ="width:20%;"> -->
  <!-- </a> -->
  
</div>

<nav class="site-navbar">
  <ul id="menu" class="menu">
    {{ range .Site.Menus.main -}}
      <li class="menu-item">
        <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
</nav>